extends layout

block additional_header
  style(type="text/css").
      .som { font-size: wow }
  script(type="text/javascript").
    /*function check_answer(alabel){
     
    }*/
    

block content
  -var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
  .span12.assignmentlist
    div.row
        strong(style="background-color: #efefef ").col-md-6 Assignment
        strong(style="background-color: #efefef ").col-md-6 Created On
    each ass in assignments
      -if (ass.name.trim()==""){
      -     ass.name = "Untitled Assignment"
      -}
      div.row
        .col-md-6
            a(href="/a/v/"+ass._id)=ass.name 
            = " ("+ass.questions.length+" questions)"
        .col-md-3=ass.created_on.getDate()+" "+monthNames[ass.created_on.getMonth()]+" "+ass.created_on.getFullYear()
        a.col-md-3(href="/a/e/"+ass._id)="Edit"
