extends question_list
block other_items
    if (typeof hide_assignment_form =="undefined")
        span12(style="font-size: 15px")
            form(method="POST", action="/a/s/p").row
                div.span12
                    input(type="text", name="assignmentname", placeholder="Untitled Assignment", style="font-size: 25px;height: 35px").form-control.span10.input-lg
                    button(type="submit").btn.btn-default.pull-right.span2 Save