doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    title= title + ' - QuestionDB'
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |     
    meta(name='description', content='')
    |     
    meta(name='author', content='')
    // Le styles
    link(href='http://getbootstrap.com/2.3.2/assets/css/bootstrap.css', rel='stylesheet')
    |     
    style(type='text/css').
      .nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav { color: #000 }
      body {
      padding-top: 20px;
      padding-bottom: 40px;
      }
      /* Custom container */
      .container-narrow {
      margin: 0 auto;
      max-width: 1000px;
      }
      .container-narrow > hr {
      margin: 30px 0;
      }
      /* Supporting marketing content */
      .marketing {
      margin: 60px 0;
      }
      .marketing p + h4 {
      margin-top: 28px;
      }
      /*dirty fix for dropdown, needs proper fix*/
      .hideahere > a.dropdown-toggle { display: None }
    |     
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
    script(src="//cdn.mathjax.org/mathjax/2.6-latest/MathJax.js?config=TeX-AMS_HTML")
    script(src="/ckeditor/ckeditor.js")
    script(src="/ckeditor/adapters/jquery.js")
    
    // HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='../assets/js/html5shiv.js')
    // Fav and touch icons
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/assets/ico/apple-touch-icon-144-precomposed.png')
    |     
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/assets/ico/apple-touch-icon-114-precomposed.png')
    |       
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/assets/ico/apple-touch-icon-72-precomposed.png')
    |                     
    link(rel='apple-touch-icon-precomposed', href='/assets/ico/apple-touch-icon-57-precomposed.png')
    |                                    
    link(rel='shortcut icon', href='/assets/ico/favicon.png')
    script(src="/javascripts/notify.js")
    script(type="text/javascript", src="/javascripts/qdb.js")
    |       
    block additional_header
    |   
body
    .container-narrow
      .masthead
        ul.nav.nav-pills.pull-right
          if user.authenticated
            li.dropdown
                a(data-toggle = "dropdown", href="#").dropdown-toggle Questions
                  ul( role="menu", aria-labelledby="dLabel").dropdown-menu
                    li.hideahere
                      a(href="/q/m/0") My Questions
                    li
                      a(href="/qc") Create
            |  
            li.dropdown
                a(data-toggle = "dropdown", href="#").dropdown-toggle#assignmentsnumb="Assignments ("+meta.numb_aq+")"
                  ul( role="menu", aria-labelledby="dLabel").dropdown-menu
                    li.hideahere
                      a(href="/a/m") My Assignments
                    if typeof session.assignment_questions != "undefined" && session.assignment_questions.length > 0 
                      li
                        a(href="/a/s") Save
                      li
                        a(href="#a-c", onclick="ajax_call('/a/c')") Clear
            |           
            li 
              a(href="/u/l") Logout
          else
            li.dropdown
                a(data-toggle = "dropdown", href="#").dropdown-toggle Login
                  ul( role="menu", aria-labelledby="dLabel").dropdown-menu
                    li.hideahere
                      a(href="/auth/facebook") Facebook
                    li
                      a(href="/auth/google") Google
        |         
        h4.muted 
          a(href='/') QuestionDB
      div.span12#alertshere
      if message.text != null
        div(class="span12 "+message.type)= message.text
      |   
      div.container-fluid
        block content
      |       
      hr
      |       
      .footer
        p &copy; FancyGrades 2015
    block additional_body_end
    // /container
    //
      Le javascript
      ==================================================

