extends layout

block additional_header
  style(type="text/css").
    .container-narrow > legend { display: inline-block; width: 60% }
    .qanswer:hover {
      background-color:#eeeeee;
    }
    .qalab { display:inline-block; }

block content
  div!= question.question
  -var l = 0
  each ans in question.answers
    -l++
    input(type="radio", name="question_answer", value=ans._id, id="a"+l)
    label(for="a"+l).qalab!= ans.answer
    br