extends layout

block additional_header
  style(type="text/css").
    .tagcloud a {
      display: inline-block; 
      padding: 2px; 
      margin: 5px 5px 5px 5px;
      border: 3px #eee solid;
    }
    .tagcloud a:hover { 
      border: 3px #00e solid;
      text-decoration: none;
    }

block content
  h2 Math
  div.tagcloud
    a(href="/ql/derivative/0") Derivative
    a(href="/ql/math;trigonometry/0") Trigonometry 
    a(href="/ql/algebra/0") Algebra
    a(href="/ql/integral/0") Integral
    a(href="/ql/math/0") All
  h2 Physics
  div.tagcloud
    a(href="/ql/newton's first law/0") Newton's First Law
    a(href="/ql/newton's second law/0") Newton's Second Law
    a(href="/ql/newton's third law/0") Newton's Third Law
    a(href="/ql/physics/0") All
  h2 History
  div.tagcloud
    a(href="/ql/history/0") All
  h2 Geography
  div.tagcloud
    a(href="/ql/geography/0") Continents
  h2 Computer Science
  div.tagcloud
    a(href="/ql/python/0") Python
    a(href="/ql/sql/0") SQL
  h2 Art
  div.tagcloud
    a(href="/ql/art/0") Art
  h2 Others
  div.tagcloud
    a(href="/ql/example/0") All Examples
