extends layout

block additional_header
  style(type="text/css").
    .tagcloud a {
      display: inline-block; 
      padding: 2px; 
      margin: 5px 5px 5px 5px;
      border: 3px #eee solid;
    }
    .tagcloud a:hover { 
      border: 3px #00e solid;
      text-decoration: none;
    }

block content
  div(style="text-align: center")
    form(method="get",action="/qdb_s").form-search
      input(type="text", name="searchtext", placeholder="Search (E.g. 'IGCSE and Logarithms')", value=searchtext, style="height: 30px; width: 50%").input-medium.
      button(type="submit", style="height: 30px").btn Search
