extends layout

block additional_header
  style(type="text/css").
      .container-narrow > div > .ques > .questn > div > label { display: inline-block; width: 70% ; border: 1px #fff dotted; border:1px #fff dotted; }
      .container-narrow > div > .ques > .questn > div > label:hover {border: 1px #000 dotted; background-color: #f5f5f5;  }
      .container-narrow > div > .ques > .questn > div > label.correct { display: inline-block; width: 70% ; border: 1px #0f0 dotted; }
      .container-narrow > div > .ques > .questn > div > label.wrong { display: inline-block; width: 70% ; border: 1px #f00 dotted; }
      .hiddenradio { display: none; }
      .questn { font-size: 19px; border-bottom: .5px #eeeeee solid }
      .ques { padding-top: 15 px; padding-bottom: 15px }
      .qoptions { font-size: 9px;}
      .qoptions a { text-decoration: none; padding: 3px; border: 1px #337ab7 solid; margin-left: 2px ; margin-right: 2px }
      .pagination { padding: 15px ; margin: 0px; font-size: 16px; text-align: center}
      .pagination a {
        margin: 0px;
        padding: 5 px;
        text-decoration: none;
        border: 1px #337ab7 solid;
      }
      .pagination a {padding-left: 5px; padding-right: 5px ; margin-left: 5px; margin-right: 5px; border-width: 3px; text-align: center}
      .qoptions a:hover, .pagination a:hover { background-color: #337ab7; color: #ffffff }
  script(type="text/javascript").
    function check_answer(alabel){
      //$("#"+alabel.id);
      if($("#a"+alabel.id.substring(2)).val() == "right"){
        $("#"+alabel.id).addClass("correct");
      }else {
        $("#"+alabel.id).addClass("wrong");
      }
    }
    

block content
  block other_items
  if typeof questions == "undefined" || questions.length == 0
    h4.span12.alert-info(style="padding: 15px; margin-left: 0px") There are no questions here :(
  if typeof pagination != "undefined" && pagination.exist
    div.span12.pagination
      strong Page: 
      -var x = 0
      -while ( x < pagination.numb_pages)
        a(href=x)=x+1
        -x= x+1
        
      //a(href="2") 2

  -var l = 0
  -var tmp_ansc
  each qu in questions 
    div.ques
      div.span12.questn!= qu.question
        if (typeof hide_qoptions == 'undefined')
          div.span12.qoptions
            a(href="#a-a-"+qu.id, onclick="ajax_call('/a/a/"+qu.id+"')").pull-right Add For Assignment
            if user.id+"" == qu.created_by+""
              a(href="/qe/"+qu.id).pull-right Edit
              a(href="/qd/"+qu.id).pull-right Delete
          
          
        br
        each ans in qu.answers
          -l++
          -tmp_ansc= ans.is_correct ? "right" : "wrong"
          div.span12
            input( type="radio", name="question_answer", value=tmp_ansc, id="a"+l, class="hiddenradio")
            label.span12(style="display:inline;", for="a"+l, id="al"+l, onclick="check_answer(this);").qalab!= ans.answer
          br