extends layout

block additional_header
  script(src="/javascripts/tagsinput.js")
  
  script(type="text/javascript").
    var num_answers=#{question.answers.length};
    var tmp_ansi ="";
    function add_answer(){
      num_answers++;
      tmp_ansi=""
      //alert("add a");
      $("#answers").append('<h4><input type="radio" name="correct_answer" value="'+num_answers+'"> Answer '+num_answers+':</h4><br />' +
          '<textarea name="answer[]"></textarea>'+
          '<br>');
      $("#answers > textarea").last().ckeditor()
    }
    $(document).ready(function(){
      $('.jquery_ckeditor').ckeditor();
      $("#qfield").ckeditor();
      $("#qsfield").ckeditor();
      $("#answers > textarea").each(function (i,v){ 
        $(v).ckeditor()
      })
    });
    

block content
  h3
    | Create Question
  each e in errors
    p.text-error=e
  form(method="post",action="/qpf")
    input(type="hidden", name="state", value=state)
    input(type="hidden", name="qid", value=question.id)
    fieldset
      h4 Question:
      textarea(name="question", placeholder="Question", id="qfield")=question.question
      h4 (Note: You have to indicate a single correct answer by selecting from the left)
      #answers
        -var k = 0;
        each a in question.answers
          -k++
          -var ansnum = " Answer "+k+": "
          
          h4 
            input(type="radio", name="correct_answer", value=k)
            =ansnum
          br
          textarea( name="answer[]")=a.answer
          br
        
      h4
        a(href="#aa",onclick="add_answer()") Add Another Possible Answer
      br
      h4 Explain the solution:
      textarea( name="solution", id="qsfield")
      br
      h4 Tags (Press comma to add different ones):
      input(style="font-size: 24px", type="text", name="tags", placeholder="Tags", data-role="tagsinput", value=question.tags.join(","))
      br 
      if state == 'create'
        button(type="submit").btn Create
      else
        button(type="submit").btn Save
        
